{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/theme/contact.css' %}">
{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="my-5 text-center">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque<br> pharetra ullamcorper luctus</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="contact_form">
                    <h3 class="cont_title my-3">Drop Us a Message</h3>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        <div class="text-center">
                            <svg viewBox="0 0 24 24" fill="currentColor" width="72px" height="72px" data-ux="Icon"
                                class="x-el x-el-svg c2-1 c2-2 c2-t c2-u c2-2d c2-9n c2-m c2-w c2-3 c2-4 c2-5 c2-6 c2-7 c2-8 x-d-ux">
                                <path fill-rule="evenodd"
                                    d="M12 4a8 8 0 0 1 8 8 8 8 0 0 1-8 8 8 8 0 0 1-8-8 8 8 0 0 1 8-8zm0 1.958c-3.316 0-6.014 2.71-6.014 6.042S8.684 18.042 12 18.042c3.315 0 6.013-2.71 6.013-6.042S15.315 5.958 12 5.958zm3.613 4.32l.175.19-.196.168-4.844 4.205-.182.157-.164-.174-2.315-2.437-.177-.188.193-.17 1.123-.992.185-.163.166.182 1.097 1.166 3.584-3.066.183-.155.162.177 1.01 1.1z">
                                </path>
                            </svg>
                        </div>
                        <p class="text-center">{{ message }}</p>
                    </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-center">{{ message }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <form id="contact-form" action="{% url 'contact' %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{ form.nonefield_errors }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    {{ form.name }}
                                    <label for="floatingInput">{{ form.name.label }}</label>
                                </div>
                                {{ form.name.errors }}
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    {{ form.email }}
                                    <label for="floatingInput">{{ form.email.label }}</label>
                                </div>
                                {{ form.email.errors }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    {{ form.subject }}
                                    <label for="floatingInput">{{ form.subject.label }}</label>
                                </div>
                                {{ form.subject.errors }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    {{ form.message }}
                                    <label for="floatingInput">{{ form.message.label }}</label>
                                </div>
                                {{ form.message.errors }}
                            </div>
                            <div class="col-md-12 text-center">
                                <input type="submit" value="Send message" name="submit" class="btn btn-contact" />
                                {% if user.is_authenticated %}
                                    {% if user.is_superuser %}
                                        <p class="my-5"><a href="{% url 'message_for_admin' %}" class="text-decoration-none text-black">Or Start Live Chat</a></p>
                                    {% else %}
                                        <p class="my-5"><a href="{% url 'message' receiver='admin' %}" class="text-decoration-none text-black">Or Start Live Chat</a></p>
                                    {% endif %}
                                {% else %}
                                <p class="my-5"><a href="{% url 'login' %}" class="text-decoration-none text-black">Or Start Live Chat</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="google-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207449.6956043197!2d-97.5473276334957!3d35.667114829027305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b21fb31543c513%3A0x461410361dd184cc!2sEdmond%2C%20OK%2C%20USA!5e0!3m2!1sen!2sbd!4v1616364898044!5m2!1sen!2sbd"
                        width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}