{% extends 'base.html' %}
{% load static %}
{% block title %}Confirm Reset Password{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/users_accounts.css' %}">
{% endblock %}
{% block content %}
<section class="conFirSec">
    <span></span>
    <div class="conHeader">
        <h5>Are you sure?</h5>
        <h1><a href="{% url 'login' %}">Please Login</a></h1>
    </div>
</section>

<section class="logsecSec">
    <div class="container">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center loginBox">
                <div class="logContent">
                    <div class="logAnimation">
                        <img src="{% static 'images/users/resetlogo.png' %}" alt="Aminate Logo">
                    </div>
                    <p>Please use 8 digit password with a-z, A-Z, 0-9, or any special character.</p>
                </div>
                <div class="loginForm">
                    {% if messages %}
                        {% for message in messages %}
                            <p class="{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success-message{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}error-message{% endif %} text-center">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <h2>Get Reset Password Instructions</h2>
                    <form action="{% url 'passReste' %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="form-group mb-0">
                            <label>{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        {{ form.email.errors }}

                        <div class="form-group mb-0 mt-3">
                            <label>{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        {{ form.email.errors }}
                        <div class="text-center">
                            <button class="btn-user" type="submit">Request Password Reset </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}